body {
    font-family: 'Poppins', sans-serif;
}

#first-part {
    text-size-adjust: 1000px;
    color: orangered;
    text-align: center;
    font-size: 60px;

}

.text-decoration {
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
}

#background-image {
    background-image: url(donation2.jpg);
    background-repeat: no-repeat;
    padding: 60px;
    width: 80%;
    margin: auto;
    background-size: cover;
}

#donate-option {
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: chartreuse;
    font-size: 15px;
    text-align: center;
}

.donate-part {
    text-align: center;
    font-size: 40px;

}


.taka {
    text-align: center;
    padding: 5px 10px;
    background-color: brown;
}

.donation-part {
    font-display: flex;
}

.flexible-container {
    display: flex;
    padding-bottom: 50px;


}

.donate-plan {
    width: 25%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 2%;
    margin-right: 2%;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 40px grey;

}

h1 {
    text-align: center;
    padding-top: 60px;
}

#food {
    background-image: url(food.png);
    background-color: aquamarine;

}

#shelter {
    background-image: url(shelter.png);
    background-color: gray;

}

#education {
    background-image: url(Frame-1.png);
    background-color: burlywood;

}