body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-size-adjust: 1000px;
    color: orangered;
    text-align: center;
    font-size: 60px;

}

#text-decoration {
    width: 50%;
    margin: auto;

    text-align: center;

}

#background-image {
    background-image: url(donation2.jpg);
    background-repeat: no-repeat;
    padding: 100px;
    width: 80%;
    margin: auto;
    background-size: cover;
}